In [1]:
import pandas as pd
import re

# Load the CSV file
catering_details_df = pd.read_csv('tbl_catering_details.csv')

# Function to extract numeric values from the QUANTITY column
def extract_quantity(value):
    if pd.isnull(value) or value.lower() == 'none':
        return None
    value = value.lower()
    # Remove any non-numeric and non-decimal characters
    numeric_value = re.findall(r'[\d.]+', value)
    if numeric_value:
        return float(numeric_value[0])
    return None

# Apply the extraction function to the QUANTITY column
catering_details_df['CLEANED_QUANTITY'] = catering_details_df['QUANTITY'].apply(extract_quantity)

# Check the results and see how many values were successfully extracted
cleaned_quantities_head = catering_details_df[['QUANTITY', 'CLEANED_QUANTITY']].head(20)
missing_cleaned_quantities = catering_details_df['CLEANED_QUANTITY'].isnull().sum()

print(cleaned_quantities_head)
print(f"Number of missing cleaned quantities: {missing_cleaned_quantities}")

    QUANTITY  CLEANED_QUANTITY
0       1 tr               1.0
1    11/2 tr              11.0
2   100 cups             100.0
3   1,1/2 tr               1.0
4   2 1/2 tr               2.0
5     100 ps             100.0
6       1 tr               1.0
7       2 tr               2.0
8        100             100.0
9         40              40.0
10    1 tray               1.0
11      1 tr               1.0
12        30              30.0
13  1/2 Tray               1.0
14  3/4 Tray               3.0
15  1/2 Tray               1.0
16    1 Tray               1.0
17        30              30.0
18  3/4 Tray               3.0
19    1 Tray               1.0
Number of missing cleaned quantities: 5

In [6]:
import pandas as pd

# Load the CSV files
tbl_catering = pd.read_csv('tbl_catering.csv')
tbl_catering_details = pd.read_csv('tbl_catering_details.csv')
tbl_catering_products = pd.read_csv('tbl_catering_products.csv')

# # Ensure the QUANTITY column is clean (using the earlier code)
# # Example: catering_details_df['CLEANED_QUANTITY'] = ...

# # Merge tbl_catering with tbl_catering_details
# merged_df = pd.merge(tbl_catering, tbl_catering_details, left_on='ID', right_on='CATERING_ID', how='left')
# final_df = pd.merge(merged_df, tbl_catering_products, left_on='ITEM_DESC', right_on='PRODUCT_NAME', how='left')

# # Drop any unnecessary columns
# final_df = final_df.drop(columns=['ID', 'CATERING_ID', 'PRODUCT_ID'])

# # Display the first few rows of the final merged dataframe
# print(final_df.head())





# Data Cleaning
tbl_catering.replace('\\N', pd.NA, inplace=True)
tbl_catering_details.replace('\\N', pd.NA, inplace=True)
tbl_catering_products.replace('\\N', pd.NA, inplace=True)

# # Convert dates to datetime
# tbl_catering['DELIVERY_DATE'] = pd.to_datetime(tbl_catering['DELIVERY_DATE'])
# tbl_catering['DELIVERY_TIME'] = pd.to_datetime(tbl_catering['DELIVERY_TIME'], format='%H:%M:%S').dt.time

# Fill missing values in numerical columns with 0
num_cols = tbl_catering.select_dtypes(include='number').columns
tbl_catering[num_cols] = tbl_catering[num_cols].fillna(0)

# Data Merging
merged_df = pd.merge(tbl_catering, tbl_catering_details, left_on='ID', right_on='CATERING_ID', how='left')
final_df = pd.merge(merged_df, tbl_catering_products, left_on='ITEM_DESC', right_on='PRODUCT_NAME', how='left')

# Display the first few rows of the final dataframe
final_df.tail()

,ID_x,DELIVERY_DATE,DELIVERY_TIME,DELIVERY_MODE,DELIVERY_STATUS,INVOICE_AMOUNT,TAXES,CATERING_COST,SHOW_PRICE,DISCOUNT,...,CATEGORY_NAME,CATEGORY_ID,PRODUCT_NAME,UNIT,PRICE_y,IS_DAIRY_FREE,IS_GLUTEN_FREE,IS_NUT_FREE,IS_VEGAN,EXCLUDE_ITEM
13079,2796,4/7/2024,18:00:00,30,<NA>,1485.0,0.0,1485.0,8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13080,2796,4/7/2024,18:00:00,30,<NA>,1485.0,0.0,1485.0,8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13081,2796,4/7/2024,18:00:00,30,<NA>,1485.0,0.0,1485.0,8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13082,2796,4/7/2024,18:00:00,30,<NA>,1485.0,0.0,1485.0,8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13083,2797,7/31/2024,14:30:00,32,<NA>,0.0,0.0,150.0,9,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import pandas as pd

# Assuming final_df is the merged dataframe from the previous steps

# Step 1: Create aggregate features

# Calculate the total quantity of each dish per event
final_df['TOTAL_DISH_QUANTITY'] = final_df.groupby('ID_x')['CLEANED_QUANTITY_x'].transform('sum')


# Calculate the average quantity of each dish per guest
final_df['AVG_QUANTITY_PER_GUEST'] = final_df['CLEANED_QUANTITY'] / final_df['GUEST_COUNT']

# Calculate the total cost per event
final_df['TOTAL_COST'] = final_df.groupby('ID_x')['PRICE'].transform('sum')

# Step 2: Normalize quantities

# Normalize the dish quantities by guest count
final_df['NORMALIZED_QUANTITY'] = final_df['CLEANED_QUANTITY'] / final_df['GUEST_COUNT']

# Step 3: Prepare the data for modeling

# Select relevant features for modeling
model_data = final_df[['GUEST_COUNT', 'PRODUCT_NAME', 'AVG_QUANTITY_PER_GUEST', 'TOTAL_COST', 'NORMALIZED_QUANTITY']]

# One-hot encode the categorical variables (e.g., PRODUCT_NAME)
model_data = pd.get_dummies(model_data, columns=['PRODUCT_NAME'], drop_first=True)

# Display the first few rows of the prepared data
print(model_data.head())

KeyError: 'Column not found: CLEANED_QUANTITY'

In [10]:
# Inspect the columns in the final_df to check for any suffixes or changes
print(final_df.columns)

Index(['ID_x', 'DELIVERY_DATE', 'DELIVERY_TIME', 'DELIVERY_MODE',
       'DELIVERY_STATUS', 'INVOICE_AMOUNT', 'TAXES', 'CATERING_COST',
       'SHOW_PRICE', 'DISCOUNT', 'GUEST_COUNT', 'PER_PERSON_RATE',
       'LIVE_STALL_CHARGE', 'SETUP_CHARGE', 'EVENT_FACILITY_FEE',
       'SERVER_CHARGE', 'GRATUITY', 'CATERING_STATUS', 'CATERING_LOCATION',
       'ID_y', 'CATERING_ID', 'CATERING_DET_ID', 'ITEM_DESC', 'SPICE_LEVEL',
       'QUANTITY', 'PRICE_x', 'DAIRY', 'GLUTEN', 'NUTS', 'VEGAN', 'COMMENTS',
       'LNL_LOCATION', 'CREATED_DTTM', 'CREATED_BY_ID', 'UPDATED_DTTM',
       'UPDATED_BY_ID', 'PRODUCT_ID', 'CATEGORY_NAME', 'CATEGORY_ID',
       'PRODUCT_NAME', 'UNIT', 'PRICE_y', 'IS_DAIRY_FREE', 'IS_GLUTEN_FREE',
       'IS_NUT_FREE', 'IS_VEGAN', 'EXCLUDE_ITEM'],
      dtype='object')